@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 242, 242);
}

.container {
    max-width:1024px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.main-header {
    color:black;
    font-size: 35px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 45px;
    vertical-align: middle;
}

.big-box {
    background-color: white;
    width: 300px;
    
    padding: 50px;
    margin: 20px;
}

