@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 242, 242);
}

.container {
    max-width:500px;
    margin: 0 auto;
}

/*img {
    max-width: 100%;
    vertical-align:align ;
}*/

.tob {
    text-align: center;
    vertical-align: align; 
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 45px;
    vertical-align: align;
}

.main-header {
    font-size: 35px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}



hr {
    margin-top: 5px;
}

.button {
   padding: 5px;
   size: 40px;
   border-bottom:solid;
   color: gray;
}

.button-a {
    color: white;
    border-radius: 5px;
    border: 1px;
    border-color: gray;
    background-color: rgba(4, 231, 251, 0.805);
    border-style: solid;
    height: 25px;
    width:80px
}

.button-b {
    color: gray;
    border-radius: 5px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    background-color: white;
    height: 25px;
    width: 100px;
}

p {
    padding-top: 20px;
}

li {
    list-style: none;
    padding-top: 10px;
}

.big-box {
    background-color: white;
    width: auto;
    padding: 30px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.ed {
    font-size: 10px;
    width:55px;
    height: 15px;
    display: inline-block;
    background-color: rgba(4, 231, 251, 0.805);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.goals {
    font-size: 10px;
    width:55px;
    height: 15px;
    display: inline-block;
    background-color: rgba(226, 130, 250, 0.994);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.rec {
    font-size: 10px;
    width:60px;
    height: 15px;
    display: inline-block;
    background-color: rgba(21, 212, 129, 0.994);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.mobile {
    font-size: 10px;
    width:55px;
    height: 15px;
    display: inline-block;
    background-color: rgba(250, 100, 18, 0.898);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.web {
    font-size: 10px;
    width:55px;
    height: 15px;
    display: inline-block;
    background-color: rgba(255, 52, 231, 0.911);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.sales {
    font-size: 10px;
    width:55px;
    height: 15px;
    display: inline-block;
    background-color: rgba(118, 237, 135, 0.994);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

